{% extends 'base.html' %}

{% block hero %}
<div class="hero">
    <h1>Aims at the synthesis of spiritual values and scientific achievements of both the East and the West.</h1>
    <p>Its educational programme is based on the concept of <strong>"Panchmukhi Shiksha"</strong> and aims at all-round harmonious development of personality.</p>
    <div class="stats">
        <div>
            <span></span>
            Get connected
        </div>
        <div>
            <span></span>
            Be Updated
        </div>
        <div>
            <span></span>
            Share your thoughts
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Your homepage content goes here -->
{% endblock %}
